spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dfguide_dev
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      # password: qwerty # Uncomment if password is necessary

logging:
  pattern:
    # dateformat: dd MMM yyyy HH:mm:ss.SSS # Modify this for custom date format.

app:
  cookie:
    http-only: true
    secure: false
    same-site: none
    path: '/'
    max-age: P1D
  cors:
    allowed-origins: # Cross-origin allowed origins
      - "http://localhost:5173" # Dev server for vite.
      - "http://localhost:4173" # Preview server for vite.
    allow-credentials: true # Must be set to `true` since we are using cookie. You can change it only when you have modified how this application executing authentication.
    allow-private-network: false
    allowed-headers:
      - "Content-Type"
      - "Authorization"
    allowed-methods:
      - GET
      - POST
      - PUT
      - PATCH
      - DELETE
    exposed-headers:
      - "Content-Type"
      - "Authorization"
    max-age: PT2H
  jwt:
    issuer: dfguide.local # Issuer host
    secret: qwertyuiopasdfghjklzxcvbnm123456 # JWT singing secret, a 32-byte long or longer string is recommended
    valid-time: PT2H # JWT valid duration
  webhook:
    github:
      secret: 123456
      allowed-users: [ octotcat, onixbyte ]

springdoc:
  api-docs:
    enabled: true # Set to `false` if you do not need api docs (recommended in production mode).
  swagger-ui:
    enabled: true # Set to `false` if you do not need swagger ui (recommended in production mode).