spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dfguide_dev
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      # password: qwerty # Uncomment if password is necessary

logging:
  pattern:
    # dateformat: dd MMM yyyy HH:mm:ss.SSS # Modify this for custom date format.

app:
  cookie:
    http-only: true
    secure: false
    same-site: none
    path: '/'
    max-age: P1D
  cors:
    # Cross-origin allowed origins
    allowed-origins:
      - "http://localhost:5173" # Dev server for vite.
      - "http://localhost:4173" # Preview server for vite.

    # Must be set to `true` since we are using cookie. You can change it only when you have
    # modified how this application executing authentication.
    allow-credentials: true

    # Whether allow private network addresses.
    allow-private-network: false

    # Allowed headers.
    allowed-headers:
      - "Content-Type"
      - "Authorization"

    # Allowed methods.
    #
    # Since the usage of HttpMethod from Spring Framework, all methods should be UPPER CASE.
    # e.g., GET, POST, PUT, PATCH, DELETE, OPTIONS
    allowed-methods:
      - GET
      - POST
      - PUT
      - PATCH
      - DELETE

    # Headers are allowed being displayed on Web pages.
    exposed-headers:
      - "Content-Type"
      - "Authorization"

    # Cross-origin policy max age.
    max-age: PT2H
  jwt:
    # Issuer host
    issuer: dfguide.local

    # Token singing secret, a 32-byte long or longer string is recommended
    secret: qwertyuiopasdfghjklzxcvbnm123456

    # Token valid duration.
    #
    # Default to PT2H (2 hours).
    valid-time: PT2H

    # Token renew threshold. If valid time of this token is less than this value, then a new token
    # will be delivered to the user.
    #
    # Default to PT5M (5 min).
    renew-threshold: PT5M
  webhook:
    github:
      secret: 123456
      allowed-users: [ octotcat, onixbyte ]

springdoc:
  api-docs:
    # Set to `false` if you do not need api docs (recommended in production mode).
    enabled: true
  swagger-ui:
    # Set to `false` if you do not need swagger ui (recommended in production mode).
    enabled: true